html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #FFFF00;
}

.overlay {
  display: none;
  height: 100vh;
  width: 100%;
  background: #000;
  .close-link {
    border: 2px solid transparent;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 13px;
    right: 13px;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    background: #000;
    color: #FFFF00;
    transition: all 0.325s ease;
    align-items: center;
    z-index: 40;
    p {
      margin: 0 auto;
      font-family: 'Roboto Mono', monospace;
      font-size: .675em;
    }
    &.active {
      display: flex;
    }
  }

  .info {
    border: 2px solid transparent;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    background: #000;
    color: #FFFF00;
    transition: all 0.325s ease;
    display: flex;
    align-items: center;
    p:last-child {
      display: none;
    }
    &.active {
      p:first-child {
        display: none;
      }
      p:last-child {
        display: block;
      }
    }
  }

  .blurb {
    display: none;
    width: 100%;
    height: 100%;
    background: #FFFF00;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    padding: 120px 30px 75px;
    z-index: 20;
    line-height: 2em;
    &.active {
      display: flex;
    }
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 100%;

    li a {
      cursor: pointer;
      color: #FFFF00;
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 20px 0;
      font-size: 2em;
      letter-spacing: .09em;
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;
    }
  }

  &.active {
    display: block;
  }
}

.container {
  padding: 0 40px;
  width: 100%;

  .info {
    border: 2px solid transparent;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    background: #000;
    color: #FFFF00;
    transition: all 0.325s ease;
    display: flex;
    align-items: center;
    p:last-child {
      display: none;
    }
    &.active {
      p:first-child {
        display: none;
      }
      p:last-child {
        display: block;
      }
    }

    p {
      margin: 0;
      text-align: center;
      width: 100%;
      font-size: .675em;
      letter-spacing: .09em;
      font-family: 'Roboto Mono', monospace;
      transition: all 0.325s ease;
    }

    &:hover {
      border: 2px solid #000;
      background: #FFFF00;
      color: #000;

      p {
        transform: rotate(180deg);
      }
    }
  }

  h2 {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }

  a {
    display: inline-block;
    font-size: 1.25em;
    margin: 35px;
    color: #000;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.325s ease;

    &:hover {
      color: #7FFF00;
      transform: rotate(-5deg);

      &:nth-child(odd) {
        transform: rotate(5deg);
      }
    }
  }

  .header {
    display: flex;
    align-items: center;

    a {
      border-bottom: 2px solid transparent;
      font-size: .625em;
      padding: 0 20px;
      text-decoration: none;

      &:hover,
      &.active {
        color: #000;
        transform: rotate(-2deg);
        border-bottom: 2px solid #000;
      }
    }
  }
}

.tutorial-landing {
  background: #000;
  color: #FFFF00;
  text-align: center;
  .home {
    position: fixed;
    top: 20px;
    right: 20px;

    a {
      color: #fff;
      text-decoration: none;
      display: block;
      font-family: 'Roboto Mono', monospace;
      transition: all 0.325s ease;

      &:hover {
        color: #fff;
        transform: rotate(-5deg);
      }
    }
  }

  section {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;

    h2 {
      margin: 0 0 20px 0;
      font-size: 2.5em;
      font-weight: normal;
      font-family: 'Roboto Mono', monospace;
    }

    p {
      font-family: 'Roboto Mono', monospace;
      font-size: 1.125em;
      max-width: 700px;
      margin: 0 auto 30px auto;
      line-height: 1.5em;

      span.command {
        color: #fff;
        padding: 0 30px;
      }

      span.errors {
        color: red;
        padding: 0;
      }
      a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid #ffff00;
      }
    }

    img {
      display: block;
      width: 100%;
      margin: 0 auto;
      max-width: 30px;
    }
  }
}
