<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="container">
<h2>FULL LIST</h2>

<ul>
  <br/>
  <br/>
  <% results.forEach(function(r) { %>
    <%- r.links %>
  <% }); %>
</ul>

</div>

</body>
</html>
