<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="container">
<h2>FULL LIST</h2>

<ul>
  <% results.forEach(function(r) { %>
    <li><a href="<%= r.link %>"><%= r.id %></li>
  <% }); %>
</ul>

</div>

</body>
</html>
