<!DOCTYPE html>
<html>
<head>
  <title>u n d e c i d e d</title>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
  <div id="overlay" class="overlay">
    <div id="close-link" class="close-link">
      <p>close</p>
    </div>

    <ul>
      <li>
        <a id="about-button" target="_blank">about</a>
      </li>
      <li>
        <a href="/tutorial" target="_blank">tutorial</a>
      </li>
      <li>
        <a href="https://github.com/doodybrains/undecided" target="_blank">github</a>
      </li>
    </ul>

    <div id="blurb" class="blurb">
      <p>undecided.js is a tool for making web pages. any1 can easily create a personal web page while also participating in a community of sharing without algorithms or advertisements. by typing just 1 word (undecided) and 1 number (the amount of links u want to show) u can create a live web page containing any and every link u can think of. u can link to ur favorite website, a PDF, ur aunts blog, a fake news article, a real news article...anything! the internet is ur oyster. in addition to receiving a url for ur personal page all of ur links will be posted to the undecided homepage where u can scroll through the links posted by other undecided.js users</p>
    </div>
  </div>

  <div class="container">
    <div id="info" class="info">
      <p>info</p>
      <p> x </p>
    </div>

    <div class="header">
      <h2><a class="active" href="/">ALL THE UNDECIDED LINKS</a></h2>
      <h2><a href="/sites">All THE UNDECIDED SITES</a></h2>
    </div>

    <% results.forEach(function(r) { %>
      <%- r.links %>
    <% }); %>
  </div>
  <script>
    var close = document.getElementById('close-link');
    var overlay = document.getElementById('overlay');
    var infoButton = document.getElementById('info');
    var blurb = document.getElementById('blurb');
    var aboutButton = document.getElementById('about-button');

    close.onclick = function() { toggleActive(blurb, close); };
    aboutButton.onclick = function() { toggleActive(blurb, close); };
    infoButton.onclick = function() { toggleActive(infoButton, overlay); };

    function toggleActive(el, button){
      if (el.classList.contains('active')) {
       el.classList.remove('active');
       button.classList.remove('active');
     } else {
       el.classList.add('active');
       button.classList.add('active');
     }
    }
  </script>
</body>
</html>
