<!DOCTYPE html>
<html>
<head>
  <title>u n d e c i d e d</title>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
  <div class="tutorial-landing">
    <div class="home"><a href="/">home</a></div>
    <section>
      <h2>undecided.js tutorial</h2>
      <img src="https://icon.now.sh/arrow_downward/ffff00"/>
    </section>

    <section>
      <h2>step 1</h2>
      <p>Check if you have Node.js installed on your system. Use spotlight search (CMD + SPACEBAR) to open an application called terminal. In the terminal window, right after the $ sign, type <span class="command">node -v</span> then click Enter. If a number is returned you already have Node and you can continue to Step 2. If nothing is returned then you can go the the <a target="_blank" href="https://nodejs.org">Node.js</a> website to download and install the "Recommended for Most Users" version. Installing Node.js will allow you to use undecided.js as well as a million other really kool javascript packages.</p>
      <img src="https://icon.now.sh/arrow_downward/ffff00"/>
    </section>

    <section>
      <h2>step 2</h2>
      <p>turn your computer's volume all the way up</p>
      <img src="https://icon.now.sh/arrow_downward/ffff00"/>
    </section>

    <section>
      <h2>step 3</h2>
      <p>You should now have Node installed on your system. In your terminal window, directly after the $ type <span class="command">npm install -g undecided</span> then click ENTER. <i>When typing commands into termainal (highlighted in white)  you always have to press Enter so that the computer knows to actually run the command.</i> If you get some errors that say something like <span class="errors">npm ERR! Error: EACCES</span> you can type in <span class="command">sudo chown -R $USER /usr/local</span> and click Enter. Now you can try <span class="command">npm install -g undecided</span> again. After running the npm command successfully you should see a big list of package names - this is good!</p>
      <img src="https://icon.now.sh/arrow_downward/ffff00"/>
    </section>
    <section>
      <h2>just so you know...</h2>
      <p>If you installed undecided.js previously you can make sure you have the latest version by typing <span class="command">npm update -g undecided</span> Also, you only ever need to run this command once - it is permanently installed on your system. You can run <span class="command">undecided [number]</span> as many times as you would like to create as many web pages as you would like. If you want to delete the program you can simply run <span class="command">npm uninstall -g undecided</span> </p>
      <img src="https://icon.now.sh/arrow_downward/ffff00"/>
    </section>
    <section>
      <h2>step 4</h2>
      <p>Type <span class="command">undecided [number]</span> [number] represents the number of links that you want to include on your page. From here you can simply follow the prompts to fill out the names and urls for each of your links. Make sure that each link has http:// prepended to it!</p>
      <img src="https://icon.now.sh/arrow_downward/ffff00"/>
    </section>

    <section>
      <h2>step 5</h2>
      <p>After choosing the type of site you want and clicking enter you should receive a link to your personal undecided site in your terminal window. YAH0000!</p>
      <img src="https://icon.now.sh/arrow_downward/ffff00"/>
    </section>

    <section>
      <p>If you run into issues along the way send a message to undecidedsites[at]gmail[dot]com</p>
    </section>
  </div>
  <script src="/vanilla.js"></script>
</body>
</html>
