body {
  border: 5px solid black;
  padding: 0;
  margin: 0;
}

body .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
}

body .container a {
  display: block;
  font-size: 2em;
  color: #000;
  width: 100%;
  text-align: center;
  margin: 30px auto;
  font-family: 'Roboto Mono', monospace;
}
