html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  border: 5px dotted dodgerblue;
  padding: 0;
  margin: 0;
  background: #FFFF00;
}

body .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

body .container a:nth-child(odd) {
  display: block;
  font-size: 2em;
  color: #6495ED;
  transform: rotate(-35deg);
  width: auto;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
}

body .container a:nth-child(even) {
  display: block;
  font-size: 2em;
  color: #00CED1;
  transform: rotate(35deg);
  width: auto;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
}
